# 1. Ignorar absolutamente todo en el proyecto
*

# 2. Permitir el archivo .gitignore propiamente (recomendado)
!.gitignore

# 3. Permitir carpetas específicas y TODO su contenido interno
!PFA_INTI_WEB_WS/
!PFA_INTI_WEB_WS/*

!PFA_INTI_WS/
!PFA_INTI_WS/*

!Interpol/
!Interpol/*